<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{titleprefix} + ': ' + #{manage.title}">Chronos Clock: Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.js"
            th:src="@{/webjars/jquery/2.1.4/dist/jquery.js}"/>

    <script src="https://cdn.jsdelivr.net/spectrum/1.7.0/spectrum.js"
            th:src="@{/webjars/spectrum/1.7.0/spectrum.js}"/>

    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="https://cdn.jsdelivr.net/spectrum/1.7.0/spectrum.css"
          th:href="@{/webjars/spectrum/1.7.0/spectrum.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="header">
    </div>
    <div class="container">
        <div class="hero-unit">
            <h2 th:text="#{titleprefix} + ': ' + #{manage.title}">Chronos Clock: Management</h2>
            <p>
                Spring-Boot management endpoints
            </p>
            <p>
                <a href="#" th:href="@{properties}" class="btn btn-large btn-success">System Properties</a>
            </p>
        </div>
        <div th:replace="fragments/endpoints :: endpoints">List of Endpoints</div>
        <footer>
            <div th:replace="fragments/footer :: footer">Footer stuff</div>
        </footer>
    </div>
</body>

</html>
